body{
    background-image: url('rick_morty_background.jpg');
    background-size: 100%;
    background-repeat: no-repeat; 
}
#mainContent{
    display: flex;
    justify-content: space-between;
}
#userInput{
    width: 250px;
    text-transform: capitalize;
    padding: 5px;
}
#submitButton{
    background-color: green;
}
#header{
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
}
#resetButton{
    border-radius: 100px;
    font-size: 25px;
    background-color: red;
}
.characters, .customInput{
    font-size: 20px;
    border-radius: 4px;
    background-color: white;
    letter-spacing: 4px;
    margin: 4px;
    font-family: "Audiowide", cursive;
}
#results{
    padding: 10px;
    width: 38%;
    background-color: white;
    margin-left: 14px;
    margin-top: 20px;
    border-radius: 8px;
    opacity: .7;
}
span{
    margin-left: 20px;
    font-family: 'Changa', sans-serif;
    font-size: 26px;
}
img {
    margin-top: 50px;
    border-radius: 8px;
    border: 5px solid black;
}
.titles{
    font-family: "Audiowide", cursive;
    font-size: 30px;
}
#modal{
    background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	/*This puts our modal in front of the body (which has a default z-index setting of `0`)*/
	overflow: auto;
	/*If overflow is clipped, a scroll-bar should be added to see the rest of the content*/
	display: none;
}
#modal-textbox{
    background-color: black;
	height: 350px;
	width: 550px;
	border-radius: 2px;
	margin: 150px auto;
	box-shadow: 0 2px 2px rgba((0,0,0,0.2));
	text-align: center;
	padding: 25px;
	line-height: 120%;
    opacity: .9;
    color: white;
    font-family: "Audiowide", cursive;
    text-align: center;
    border-radius: 4px;
}
#modal-textbox h1 {
    line-height: 60px;
}
#modalExit{
    font-size: 20px;
    border-radius: 8px;
    font-family: "Audiowide", cursive;
}


/* /////////////// Media Query //////////  */

/* @media (min-width: ){

} */


